# 虛擬環境
env/
venv/
*.venv

# 環境設定
.env

# Python 編譯與快取文件
__pycache__/
*.pyc
*.pyo
*.pyd

# 日誌與輸出
logs/
output/
*.log

# 作業系統檔案
.DS_Store
Thumbs.db

# IDE 設定
.vscode/
.idea/

# 測試文件
tests/
.pytest_cache/